.all_images {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.blog_images {
    display: flex;
    justify-content: center;
}


.image_body_1 {
    display: flex;
    justify-content: space-between;
}

.image_body_1_1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
}

.image_body_2 {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.image_body_3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: auto;
}